<html>
    <head>
        <title>Crear cuenta</title>
        <meta charset= "UTF-8">
        <link href ="css/login.css" rel ="stylesheet" type ="text/css">
    </head>
    <body>       
    <center><h1>Registrarte Gratis</h1></center>
        <div class ="login">
            <form action ="../controller/crear.php" method ="POST">
            <fieldset>
                <legend>Crear cuenta</legend> 
            <table>
                <tr>
                    <td><input title="Es necesario un nombre de usuario" type="text" class ="pass" name ="nombre" placeholder="Nombre" required> <input title="Campo obligatorio" class ="pass" type="text" name ="apellido" placeholder="Apellido" required></td>
                </tr>
                <tr>
                    <td><input title="Campo obligatorio" type ="text" name = "usuario" class ="pass" placeholder ="Nombre de usuario" required></td>
                </tr>
                <tr>
                    <td><input title ="Campo obligatorio" class="pass" type ="password" name ="pass1" placeholder="Contraseña" required></td>
                </tr>
                <tr>
                    <td><input title ="Campo obligatorio" class="pass" type ="password" name ="pass2" placeholder="Verificar Contraseña" required></td>
                </tr>   
            </table>   
                <input type ="submit" value =" registrarse"  id ="res">
              </fieldset>
            </form>
        </div>
    </body>
</html>
